<% layout("/layouts/boilerplate") %>

  <body>
    <script>
      const mapToken = "<%= process.env.MAP_TOKEN %>";
      const listing = <%- JSON.stringify(listing) %>;

    </script>

    <div class="card container col-7 main-card mb-3">
      <h3>
        <%= listing.title %>
      </h3>
      <div class="listing-card mb-5">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="Listing_Image">
        <div class="card-body">
          <p class="card-text">
            <i>&nbsp;&nbsp;@<%= listing.owner.username %></i>
          <ul class="listing-details">
            <li><b>Price </b>: &#8377; <%= listing.price.toLocaleString("en-IN") %>
            </li>
            <li><b>Description</b> : <%= listing.description %>
            </li>
            <li><b>Location </b>: <%= listing.location %>
            </li>
            <li><b>Country </b>: <%= listing.country %>
            </li><br>
            <% if(currUser && listing.owner._id.equals(currUser._id)) {%>
              <div class="edit-delete">
                <a href="http://localhost:8080/listings/<%=listing._id%>/edit" class="btn btn-outline-dark">Edit</a>
                <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                  <button class="btn btn-outline-danger">Delete</button>
                </form>
              </div>
              <% } %>
          </ul>
          </p>

          <% if(currUser) {%>
            <hr>
            <div class="mb-3">
              <h4>Leave a Review</h4>
              <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                <fieldset class="starability-slot">
                  <legend><h6>Rating:</h6></legend>
                  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                  <label for="first-rate1" title="Terrible">1 star</label>
                  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                  <label for="first-rate2" title="Not good">2 stars</label>
                  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                  <label for="first-rate3" title="Average">3 stars</label>
                  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                  <label for="first-rate4" title="Very good">4 stars</label>
                  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                  <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
              </div>
                <div class="mb-3">
                  <label for="comment" class="form-label"><h6>Comment:</h6></label>
                  <textarea name="review[comment]" id="comment" class="form-control" rows="10" cols="30"
                    required></textarea>
                  <div class="invalid-feedback">Please add comments for review</div>
                </div>
                <button class="btn btn-outline-dark mb-3" type="submit">Submit</button>
              </form>
            </div>
            <% } %>
        </div>
        <% if(listing.reviews.length) { %>
          <hr>
          <h4>&nbsp;&nbsp;&nbsp;&nbsp;All Reviews</h4>
          <br>
          <div class="row container-sm">
            <% for(review of listing.reviews) {%>
              <div class="card review-card  col-5 ms-4 mb-3">
                <div class="card-body">
                  <h5 class="card-title">@<%= review.author.username %>
                  </h5>
                  <p class="starability-result card-text" data-rating="<%= review.rating %>">
                    Rated: 3 stars
                  </p>
                  <p class="card-text">
                    <%= review.comment %>
                  </p>
                 
                  <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                    <% if(currUser && review.author.equals(currUser._id)) { %> 
                      <button type="submit" class="btn btn-outline-dark">Delete</button>
                       <% } %>
                  </form>
                </div>
              </div>
              <% } %>
          </div>
          <% } %>
      </div>
      
      <div class="mapbox mb-5">
        <hr style="width: 75vw;"><br>
        <h4 >Where you'll be</h4>
        <div id="map"></div>
      </div>
    </div>
<script src="/js/map.js"></script>

  </body>